<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />-->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <title>Hello from Flask</title>
</head>
<body>
    <header>
        <h1>AB-testing platform</h1>
    </header>
    <main>
        <div>
            <section>
                <h3>Параметры эксперимента:</h3>

            </section>
        </div>
<!--        <p>Simulation log for MDE calculation is presented below</p>-->
<!--        <img src="/static/images/sim_plot.png" alt="My image">-->
    </main>
    <footer>

    </footer>
</body>
</html>